body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
 }
 .navigation{
	padding:50px 0;
	
}
.logged_in{
	float: right;
	background-color: #ccc;
	border-radius: 5px;
	padding: 0px 10px 0px 10px;
	margin-right: 10px;
}
.logo{
	float:left;
	
}
.navigation-right{
	float:right;
	margin: 1em 0 0;
}
.navigation-right ul li{
	display:inline-block;
}
.navigation-right ul li a{
	color:#000;
    font-size:1em;
    text-decoration: none;
    padding: 10px 0;
	text-transform:uppercase;
	margin-right: 60px;
	font-weight: bold;
}
.navigation-right ul li.active a{
	color:#EEE048;
}
.navigation {
    padding:1em 0em;
    background:rgba(0, 0, 0, 0);
}

/*-- nav-hover --*/
.link-effect-3 a {
	padding: 10px 0;
	margin: 0 20px;
	color: #797878;
	text-shadow: none;
	position: relative;
}
.link-effect-3 a::before {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 10px 0;
	max-width: 0;
	border-bottom: 2px solid #EEE048;
    color: #EEE048;
	content: attr(data-hover);
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
}
.link-effect-3 a:hover::before {
	max-width: 100%;
}
/*--BOX--*/
.box{

	width: 750px;
    height: 550px;
    border: 3px solid black;
    margin-top: 9em ;
    text-align: center;
    margin-left: 25em;
}
/*--Dropdown--*/
.dropdown{
	margin-top: 40px;
}
/*--SUBMIT--*/
input[type=text] {
    padding:7px; 
    border:5px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
}
/*---Table--*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 20px;
    text-align: center;
}